<menu>
  <%= link_to "All articles", articles_path %> |
  <%= link_to "Add a new article", new_article_path %> |
  <%= link_to "Edit current article", edit_article_path %> |
 <%= link_to "Delete current article", article_path(@article), data: {turbo_method: :delete} %>
</menu>

<h1><%= @article.title %> :</h1>
<p><%= @article.content %></p>
